---
import projectImage from "@images/panjrud-ensemble-project.jpg";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";

const page = (await getCollection("otherPages")).find((p) => p.data.slug === "project");
const { Content } = await render(page);
---

<BaseLayout title="The Project" description="">
	<section class="mx-auto max-w-3xl px-4 pt-24 md:mt-24">
		<h1 class="h1 description mb-16 text-center">The Project</h1>

		<Image src={projectImage} alt="Panjrud Ensemble" class="my-8 w-full rounded shadow" />

		<div class="markdown-content">
			<Content />
		</div>
	</section>
</BaseLayout>
