---
import heroImage from "@images/panjrud-ensemble-band.jpg";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
---

<BaseLayout title="The Project" description="">
	<section class="mx-auto max-w-3xl px-4 pt-24 md:mt-24">
		<h1 class="h1 description mb-16 text-center">The Project</h1>

		<Image src={heroImage} alt="Panjrud Ensemble" class="my-8 w-full rounded shadow" />

		<p class="mt-4">
			From the Pamir mountains flow five rivers. As they meet in the Tajik region of Panjrud, they
			give birth to the great Amu Darya, the mother of rivers in Central Asia. Panj means five in
			Persian, rud means river or instrument.
		</p>
		<p class="mt-4">
			Based upon the musical encounters of the French accordionist Adrien Seguy on the Silk Road,
			PANJRUD ENSEMBLE is a new ensemble formed by Solmaz Badri (Iran), Sadriddin Gulov
			(Uzbekistan), Tigran Davtyan (Armenia), Adrien Seguy (France) and Samuel Wornom (France).
		</p>
		<p class="mt-4">
			Five musicians at the heart of a new ensemble, channeling their sensibilities to weave
			together musical traditions of the Silk Road.
		</p>
	</section>
</BaseLayout>
