---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const videos = await getCollection("videos");
const published = videos.filter((m) => !m.data.draft).sort((a, b) => (a.id > b.id ? 1 : -1));
---

<BaseLayout title="Videos" description="Video media from our performances">
	<section class="mx-auto max-w-3xl px-4 pt-24 md:mt-24">
		<h1 class="h1 description mb-16 text-center">Videos</h1>

		<div class="grid gap-8">
			{
				published.map((m) => (
					<div class="w-full">
						<h3 class="h3">{m.data.title}</h3>
						{m.body && <div class="prose mt-2" set:html={m.body} />}
						<div class="mt-4 aspect-video w-full overflow-hidden rounded shadow">
							<iframe
								src={m.data.url + "?rel=0"}
								title={m.data.title}
								frameborder="0"
								allow="autoplay;encrypted-media"
								allowfullscreen
								class="block h-full w-full"
							/>
						</div>
					</div>
				))
			}
		</div>
	</section>
</BaseLayout>
